.text-input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #EE1D24;
    background-color: #252121;
    color: #F3E7E7;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    position: relative;
    
    font-family: Panchang;
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;

    transition: al 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
        opacity: 0.8;
    }

    .calendar{
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        height: 1.5rem;
    }

    label{
        position: absolute;
        background-color: #252121;
        padding: 0.3rem 1rem;
        z-index: 10;
        color:#F3E7E7B2;
        font-weight: 500;
        font-size: 0.8rem;

        top:50%;
        transform: translateY(-50%);
        left:0;

        transition: all 0.3s ease;
        cursor: text;

        &.focused{
            transform: translateX(0) scale(0.8) translateY(-165%); 
            color:#F3E7E7B2;
            cursor: default;
        }
    }

    &.date{
        cursor: pointer;
        input{
            cursor: pointer;
        }
        label{
            cursor: pointer;
        }
    }

    input{
        padding: 1rem 1.5rem;
        width: 100%;
        height: 100%;

        font-family: Poppins;

        border:none;
        background: none;
    }
}